<div class="ibm-col-12-10 " >
  <h1 class="form-heading ibm-h1 ">US HCAM Contacts</h1>
  <h2 class="form-heading ibm-h2">Add US HCAM contact</h2>
  <!-- <form #contactForm="ngForm" [formGroup]="contact"  id="add-form" class="ibm-column-form " method="post" >


    <p >
        <label  for="name">Name:</label>
        <input type="text"  size="40" id="name" formControlName="resource" placeholder="Name"  >
    </p>
     
    <p>
        <label for="email">E-mail:</label>
        <input type="text" size="40" id="email" formControlName="emailId" placeholder="E-mail"  >

    </p>
    <p>
        <label class="ibm-column-field-label" for="phone">Business Phone:</label>
        <input type="text"  size="40" id="phone" formControlName="phone" placeholder="Phone" >
    </p>
    <p>
        <label class="ibm-column-field-label" for="faxNum">Fax Number:</label>
        <input type="text" size="40" id="faxNum" formControlName="faxNum" placeholder="Fax Number" >
    </p>
    <p class="ibm-form-elem-grp">
      <label for="country">Country/Region: </label>
      <span style="width: 408px;">
        // (change)="selectChangeHandler($event)"
        // class="form-control" formControlName="contact" #contact 
          <select id="country"  formControlName="countryCode" placeholder="Select Country"  >
            <option [ngValue]="country.paramName" *ngFor="let country of countryMap" >{{country.paramName}}</option>
          </select>
      </span>
  </p> -->
  <form #contactForm="ngForm" id="add-form" class="ibm-column-form " method="post" >


    <p >
        <label  for="name">Name:</label>
        <input type="text"  size="40" id="name" name="resource" placeholder="Name"  [(ngModel)]="resource">
    </p>
     
    <p>
        <label for="email">E-mail:</label>
        <input type="text" size="40" id="email" name="emailId" placeholder="E-mail"  [(ngModel)]="emailId">

    </p>
    <p>
        <label class="ibm-column-field-label" for="phone">Business Phone:</label>
        <input type="text"  size="40" id="phone" name="phone" placeholder="Phone" [(ngModel)]="phone">
    </p>
    <p>
        <label class="ibm-column-field-label" for="faxNum">Fax Number:</label>
        <input type="text" size="40" id="faxNum" name="faxNum" placeholder="Fax Number" [(ngModel)]="faxNum">
    </p>
    <p class="ibm-form-elem-grp">
      <label for="country">Country/Region: </label>
      <span style="width: 408px;">
        <!-- (change)="selectChangeHandler($event)" -->
        <!-- class="form-control" formControlName="contact" #contact  -->
          <select id="country"  name="countryName" default="countryName" placeholder="Select Country" [(ngModel)]="countryCode" >
            <option [ngValue]="country" *ngFor="let country of countryMap" >{{country.paramName}}</option>
          </select>
      </span>
  </p>
  <br/>
    <p class="ibm-btn-row">
      <button class="ibm-btn-pri"  type="submit" (click)="addContact()">Add</button>
     <button class="ibm-btn-sec ibm-btn-transparent"  type="submit"  (click)="contactForm.reset()">Reset</button>
     <button class="ibm-btn-sec ibm-btn-transparent"  type="submit" routerLink="../viewIBMI" >Cancel</button></p>
</form>
  </div>
  <router-outlet></router-outlet>