<body>
  <div class="ibm-fluid login">
     <div class="form-container">
        <h1 class="form-heading ibm-h1 "></h1>
          <div class="ibm-col-12-6">
              <div class="ibm-card " style="vertical-align: middle; margin-top: 50px;">
                 <div class="ibm-card__content ibm-padding-border-left" >
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ibm-row-form">
                        <label for="username"><span style="color: #4178BE; font-size: 1.3em;"><b>Intranet Id</b></span> </label>
                         <input tabindex="1" id="name" formControlName="userName" placeholder="Ex: Joes@in.ibm.com"
                            type="text" style=" width: 350px;">
                        <br/>
                        <br/>
                        <span >  
                          <label for="password"><span style="color: #4178BE; font-size: 1.3em;"><b>Password</b></span></label> 
                            <input tabindex="1" id="password" formControlName="password" type="password" style="width: 350px;">
                             <br/>
                              <span id="pwdHelp" ><a href="https://w3.ibm.com/password">Forgot password?</a> </span>
                                  <div class="button-container full-width ibm-fluid">
                                    <div class=" vertical-middle" style="margin-left: 200px"><br>
                                      <button id="signinbutton"  tabindex="1" type="submit"  [disabled]="!loginForm.valid" class="ibm-btn-pri ibm-btn-blue-50">
                                        <span>Sign in</span>
                                      </button>
                                    </div>
                                  </div>
                          </span>
                         <div>
                      </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
   </div>
 </body>
          
    