
<h1 class="page-header"> My Comp requests</h1>
<div style ="float: right;" class="ibm-col-12-10">
<p><button class="ibm-btn-pri" (click)="createCompReq()" >Create Compensation Request</button></p>
</div>

<!-- <div class="ds-table-container ds-col-xl-10 ds-pad-l-15"></div>
<div style ="float: left;" class="ds-accordion-container ds-mar-t-0 ds-mar-b-0">
    <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item">
        <button class="ds-accordion-title">Compensation Requests - In Progress</button>
        <div class="ds-accordion-slidedown" aria-hidden="true" role="region" >
            <div class="ds-table-container">
                <table class="ds-table ds-table">
                    <thead>
                        <tr>
                            <th >Employee Serial</th>
					        <th >Host Serial</th>
					        <th >First Name</th>
        					<th >Last Name</th>
		        			<th >Email ID</th>
				        	<th >Current Work Location City</th>
					        <th >Current Zip Code</th>
					        <th >Compensation Type</th>
					        <th >Record Status</th>
				        </tr>
                        
                            </thead>
                            </table>
                            </div>
        </div>
    </div>
</div> -->