 <div class="col-12-10" >
    <div>
        <p style="color: cornflowerblue;"> Onboard Tracking</p>
    </div>
   
    <div >
        <h3 style="color: cornflowerblue;"> Onboarding</h3>
    </div>                          
    <table id="onboardingTable" data-widget="datatable" data-ordering="true" data-paging="true" data-searching="true" class="ibm-data-table">
                                    <thead>
                                        <tr>
                                            <th >Last Name</th>
                                            <th >First Name</th>
                                            <th >Employee Serial</th>
                                            <th >Employee Host Serial</th>
                                            <th >Onboard Status</th>
                                            <th >Primary Email Id</th>
                                            <th >Host Country Email ID</th>
                                            <th >O/B Proc complete</th>
                                            <th >O/B Rep</th>
                                            <th >Actual Start Date</th>
                                            <th >Work City</th>
                                            <th >Work State</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody *ngFor = "let bean of onboardList ">
                                        <tr>
                                            <td><a [routerLink]="['/viewOnboardRecord', bean.empId]">{{bean.empLastName}}</a></td>
                                            <td>{{bean.empFistName}}</td>
                                            <td>{{bean.empId}}</td>
                                            <td>{{bean.hostEmpSerial}}</td>
                                            <td>{{bean.obStatus}}</td>
                                            <td>{{bean.emailId}}</td>
                                            <td>{{bean.hostEmpEmail}}</td>
                                            <td>{{bean.obCmpltdDt |date :'dd MMM yyyy'}}</td>
                                            <td>{{bean.obRep}}</td>
                                            <td>{{bean.actualStDt|date :'dd MMM yyyy'}}</td>
                                            <td>{{bean.workCity}}</td>
                                            <td>{{bean.workState}}</td>
                                        </tr>

                                    </tbody>
   
                                    
                                </table>
</div>
            <!-- <div class="ds-accordion-container ds-mar-t-0 ds-mar-b-0 ds-no-border">
                <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item" style="background-color: transparent;">
                    <button class="ds-accordion-title ds-text-contextual-blue-5">Pending Landed</button>
                        <div class="ds-accordion-slidedown" aria-hidden="true" role="region" style="background-color: transparent;">
                            <div class="ds-table-container" style="overflow:hidden;"> 
                                <table  #dataTable class="ds-table ds-table-compact ds-striped ds-hover">
                                  
                                    <thead>
                                        <tr>
                                            <th >Last Name</th>
                                            <th >First Name</th>
                                            <th >Employee Serial</th>
                                            <th >Primary Email Id</th>
                                            <th >O/B Rep</th>
                                            <th >Visa Type</th>
                                            <th >Proposed Start Date</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor = "let dto of pendingLandedList | paginate:{id:'pendingList',itemsPerPage: 8, currentPage:r}">
                                        <tr>
                                            <td>{{dto.empLastName}}</td>
                                            <td>{{dto.empFistName}}</td>
                                            <td>{{dto.empId}}</td>
                                            <td>{{dto.emailId}}</td>
                                            <td>{{dto.obRep}}</td>
                                            <td>{{dto.visaType}}</td>
                                            <td>{{dto.propProjStartDt}}</td>
                                           
                                        </tr>

                                    </tbody>
                                </table>
                                <pagination-controls id="pendingList" autoHide="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"(pageChange)="r=$event" class="ds-float-right"></pagination-controls>
                            </div>
                       </div>
                </div>
            </div>

            <div class="ds-accordion-container ds-mar-t-0 ds-mar-b-0 ds-no-border">
                <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item" style="background-color: transparent;">
                    <button class="ds-accordion-title ds-text-contextual-blue-5">Awaiting emp e-signature</button>
                        <div class="ds-accordion-slidedown" aria-hidden="true" role="region" style="background-color: transparent;">
                            <div class="ds-table-container" style="overflow:hidden;">
                                <table class="ds-table ds-table-compact ds-striped ds-hover">
                                    <thead>
                                        <tr>
                                            <tr>
                                                <th >Last Name</th>
                                                <th >First Name</th>
                                                <th >Employee Serial</th>
                                                <th >Primary Email Id</th>
                                                <th >O/B Rep</th>
                                                <th >Visa Type</th>
                                                <th >Proposed Start Date</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor = "let dto of esignAwaitingList | paginate:{id:'esignList',itemsPerPage: 8, currentPage:q}">
                                            <tr>
                                                <td>{{dto.empLastName}}</td>
                                                <td>{{dto.empFistName}}</td>
                                                <td>{{dto.empId}}</td>
                                                <td>{{dto.emailId}}</td>
                                                <td>{{dto.obRep}}</td>
                                                <td>{{dto.visaType}}</td>
                                                 <td>{{dto.propProjStartDt|date :'dd MMM yyyy'}}</td> 
                                               
                                            </tr>
                                        </tbody>
                                </table>
                                <pagination-controls id="esignList"autoHide="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" (pageChange)="q=$event" class="ds-float-right"></pagination-controls>
                             </div>
                        </div>
                </div>
            </div>

            <div class="ds-accordion-container ds-mar-t-0 ds-mar-b-0 ds-no-border">
                <div class="ds-row ds-accordion-item" aria-controls="ds-accordion-slidedown" aria-expanded="false" role="accordion item" style="background-color: transparent;">
                    <button class="ds-accordion-title ds-text-contextual-blue-6">Termination Management</button>
                        <div class="ds-accordion-slidedown" aria-hidden="true" role="region" style="background-color: transparent;">
                            <div class="ds-table-container" style="overflow:hidden;">
                                <table class="ds-table ds-table-compact ds-striped ds-hover">
                                    <thead>
                                         <tr>
                                            <th >Last Name</th>
                                            <th >First Name</th>
                                            <th >Employee Serial</th>
                                            <th >Employee Host Serial</th>
                                            <th >Onboard Status</th>
                                            <th >Primary Email Id</th>
                                            <th >Host Country Email ID</th>
                                            <th >O/B Proc complete</th>
                                            <th >O/B Rep</th>
                                            <th >Actual Start Date</th>
                                            <th >Work City</th>
                                            <th >Work State</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div> -->
