<div class="ibm-col-12-10" *ngIf="!flog">
<h1 class="ibm-h1">Create compensation request</h1>
<form [formGroup]="EmpInfoForm" class ="ibm-column-form" (ngSubmit)="onSubmit()">
   
    <p>
        <label class="ibm-column-field-label" for="comptypselect">Compensation Type:<span class="ibm-required">*</span></label>
        <span>
                <select id="comptypselect"  formControlName="comptypselect" > 
                    <option  value="">---Select---</option>
                    <option *ngFor="let compType of createComp.compensationType | keyvalue" [ngValue]=compType>
                        {{compType.value}}
                    </option>
                 </select> 
                 <a class="ibm-information-link" href="javascript: alert('a)New Employee - Select this if the US HCAM employee is traveling from Home Country to US on the start of assignment in the US. \n\n b)Location Transfer - Select this if a US HCAM employee is already in the US on an existing assignment and is either \'starting on a new assignment for a new client and/or changing work location\'.\n\n c)Band Progression - Select this if the US HCAM employee has received a solid band or a sub-band promotion in the US. Please raise this request only if the promotion has been completed and is visible in Workday.\n\n d)Other - Please reach out to\'ushcamcompensation@ibm.com\' for a discussion before using this Compensation Type to raise a compensation request. Any request raised under this Compensation Type without prior approval from the US HCAM Compensation Team will be questionable and may be delayed for processing.')"></a>
                 
                </span>
    </p>
    
        <p>
            <label class="ibm-column-field-label" for="empserial">IBM Employee Serial:<span class="ibm-required">*</span></label>
        <span>
            <input type="text" id="empserial" formControlName = "empserial">
         <!--   <span *ngIf="!EmpInfoForm.get('EmployeeInfoData.empserial').valid&&EmpInfoForm.get('EmployeeInfoData.empserial').touched">
            <span *ngIf = "EmpInfoForm.get('EmployeeInfoData.empserial').errors['required']">Emp Serial field is required</span>
            </span> -->
            <div *ngIf="EmpInfoForm.get('empserial').invalid && EmpInfoForm.get('empserial').touched">
                <div *ngIf="EmpInfoForm.get('empserial').errors.required">
                    Employee Serial is required
                </div>
              </div>
        </span></p> 
    
           
      <!--  <span class="ibm-input-group">
                 
            <span class="ibm-radio-wrapper">
                <input data-init="false" class="ibm-styled-radio" id="__REPLACE_ME_21__" name="radiogrp2" type="radio" value="A" />
                <label for="__REPLACE_ME_21__" class="ibm-field-label">Home</label>
            </span>
            <span class="ibm-radio-wrapper">
                <input data-init="false" class="ibm-styled-radio" id="__REPLACE_ME_22__" name="radiogrp2" type="radio" value="B" />
                <label for="__REPLACE_ME_22__" class="ibm-field-label">Host</label>
            </span>
       </span> -->
           <p>
                <label class="ibm-column-field-label"  for="countryselect">Employee Home Country:<span class="ibm-required">*</span></label>
                <span>
                        <select id="countryselect" formControlName="countryselect" > 
                            <option  value="">---Select---</option>
                            <option *ngFor="let countryCode of createComp.countryCodeMap | keyvalue" [ngValue]=countryCode>
                                {{countryCode.value}}
                            </option>
                         </select> 
                         
                </span>
            </p>
            
            
                <label class="ibm-column-field-label" for="pmpseatid">Assignment PMP Seat ID:<span class="ibm-required">*</span></label>
              <span>
              <input type="text" id="pmpseatid" formControlName = "pmpseatid">
           <!--   <span *ngIf="!EmpInfoForm.get('PmpData.pmpseatid').valid&&EmpInfoForm.get('PmpData.pmpseatid').touched">
              <span *ngIf = "EmpInfoForm.get('PmpData.pmpseatid').errors['required']">PMP id field is required</span>
              </span>-->
              <div *ngIf="EmpInfoForm.get('pmpseatid').invalid && EmpInfoForm.get('pmpseatid').touched">
                <div *ngIf="EmpInfoForm.get('pmpseatid').errors.required">
                    PMP seat Id is required
                </div>
              </div>
             </span>
              
           <p>
             <label  class="ibm-column-field-label" for="empvisatype">Please indicate type of Visa employee is holding ?:<span class="ibm-required">*</span></label>
               <span>
                    <select id="empvisatype" formControlName="empvisatype" > 
                        <option  value="Select">---Select---</option>
                        <option *ngFor="let visatype of createComp.visaType | keyvalue" [ngValue]=visatype>
                            {{visatype.value}}
                        </option>
                     </select> 
                     
               </span>
           </p>
           
          <!--<div class="col-sm-4" *ngIf="selectedCompType=== 'New Employee'">
            <input type="text" class="form-control" name="remark" formControlName="remark" maxlength="200" />
          </div>-->
        <p>
            <label class="ibm-column-field-label" for="usstay89days">Will the employee be in the US greater than 89 days ?:</label>
            <span>
               <div *ngFor="let us89daysstay of usstaymorethan89days">
                <label>
                    <input type="radio" [value]="us89daysstay"
                    formControlName = "us89daysstay">{{us89daysstay}}
                  </label>    
                </div>
                </span>
            </p>

            

    <p>&nbsp;
    <button class="ibm-btn-pri" type="submit"  (click)="getEmployeeDetails()">Submit</button>&nbsp;&nbsp;
    <button class="ibm-btn-pri" type="submit"  (click)="getEmployeeDetails()">Close</button> 
    </p>
 
</form>
</div>
<div *ngIf="flog">
<app-update-comp-request [empData]="respData"></app-update-comp-request>
</div>