<h1 class="page-header">Create compensation request</h1>
<div>
<form [formGroup]="EmpInfoForm" class="raiseComp" (ngSubmit)="onSubmit()">
    <div formGroupName= "EmployeeInfoData">
        <div>
           
            <label for="empserial">IBM Employee Serial:*</label>
        <span>
            <input type="text" id="empserial" formControlName = "empserial">
            <span *ngIf="!EmpInfoForm.get('EmployeeInfoData.empserial').valid&&EmpInfoForm.get('EmployeeInfoData.empserial').touched">
            <span *ngIf = "EmpInfoForm.get('EmployeeInfoData.empserial').errors['required']">Emp Serial field is required</span>
            </span>
        </span>
    </div>
    <div>
              <label for="pmpseatid">Assignment PMP Seat ID:*</label>
        <span>
            <input type="text" id="pmpseatid" formControlName = "pmpseatid">
            <span *ngIf="!EmpInfoForm.get('EmployeeInfoData.pmpseatid').valid&&EmpInfoForm.get('EmployeeInfoData.pmpseatid').touched">
            <span *ngIf = "EmpInfoForm.get('EmployeeInfoData.pmpseatid').errors['required']">PMP id field is required</span>
            </span>
        </span>
    
         </div>
    </div>
         
        <div>
            <label for="empvisatype">Please indicate type of Visa employee is holding ?:*</label>
            <span>
                    <select id="empvisatype" formControlName="empvisatype" > 
                        <option  value="Select">---Select---</option>
                        <option *ngFor="let visatype of createComp.visaType | keyvalue" [ngValue]=visatype>
                            {{visatype.value}}
                        </option>
                     </select> 
                     
            </span>
        </div>
   <div>
        <label for="comptypselect">Compensation Type:</label>
        <span>
                <select id="comptypselect" formControlName="comptypselect" > 
                    <option  value="Select">---Select---</option>
                    <option *ngFor="let compType of createComp.compensationType | keyvalue" [ngValue]=compType>
                        {{compType.value}}
                    </option>
                 </select> 
                 
        </span>
    </div>
    <div>
        <label for="usstay89days">Will the employee be in the US greater than 89 days ?:</label>
        <span>
           <div *ngFor="let us89daysstay of usstaymorethan89days">
            <label>
                <input type="radio" [value]="us89daysstay"
                formControlName = "us89daysstay">{{us89daysstay}}
              </label>    
            </div>
            </span>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button> 
    
</form>

</div>
