<div class="ibm-col-12-10" >
    <h1 class="form-heading ibm-h1 ">US HCAM Contacts</h1>
    <h2 class="form-heading ibm-h2">List of US HCAM contacts</h2>
    <br/>
    <div >
        <button  class="ibm-btn-sec"  (click)="addContact('/addIBMI')">Add Contact</button>
    </div> 
    <br/>

    <table id="contactsTable" data-widget="datatable" data-col-reorder="true" data-info="true" 
data-ordering="true" data-paging="true" data-searching="true" class="ibm-data-table ibm-altrows display"
 data-order='[[1,"asc"],[0,"asc"],[3,"asc"]]'>
    <thead>
        <tr>
        <th>Full Name</th>
          <th>Email</th>
          <th>Business Phone</th>
          <th>Fax Number</th>
          <th>Country/Region</th>
        </tr>
    </thead>
 
    <tbody>
        <tr *ngFor = "let contact of contactsList">
          
            <td><a routerLink="editIBMI" routerLinkActive="active"  (click)="gotoContactDetails('/editIBMI',contact.resourceId)">{{contact.resource}}</a></td>
            <td>{{contact.emailId}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.faxNum}}</td>
            <td>{{contact.countryName}}</td>
        </tr>
    </tbody>
</table>
</div>